In [144]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.5f}'.format

# CSV 파일 읽기
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/test.csv')
data_label = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train_label.csv')
test_label = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/test_label.csv')

# 데이터 확인
print(data.head())

   index gender car reality  child_num  income_total income_type  \
0      0      F   Y       Y          0  202500.00000   Pensioner
1      1      F   N       N          1  157500.00000     Working
2      2      M   Y       N          0  135000.00000     Working
3      3      F   Y       N          2  112500.00000     Working
4      4      M   Y       Y          1  225000.00000     Working

                        edu_type family_type         house_type  DAYS_BIRTH  \
0  Secondary / secondary special     Married  House / apartment      -19031
1               Higher education     Married  House / apartment      -15773
2  Secondary / secondary special     Married  House / apartment      -13483
3  Secondary / secondary special     Married  House / apartment      -12270
4  Secondary / secondary special     Married  House / apartment      -16175

   DAYS_EMPLOYED  FLAG_MOBIL  work_phone  phone  email      occyp_type  \
0         365243           1           0      0      0             NaN
1           -309           1           0      1      0     Sales staff
2          -1816           1           1      1      0        Laborers
3           -150           1           0      1      0  Security staff
4          -2371           1           0      0      0         Drivers

   family_size  begin_month
0            2          -53
1            3          -26
2            2           -9
3            4          -12
4            3           -3

In [145]:
# 결측치 확인
data.isnull().sum()

index               0
gender              0
car                 0
reality             0
child_num           0
income_total        0
income_type         0
edu_type            0
family_type         0
house_type          0
DAYS_BIRTH          0
DAYS_EMPLOYED       0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       4132
family_size         0
begin_month         0
dtype: int64

In [146]:
test.isnull().sum()

index               0
gender              0
car                 0
reality             0
child_num           0
income_total        0
income_type         0
edu_type            0
family_type         0
house_type          0
DAYS_BIRTH          0
DAYS_EMPLOYED       0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       4039
family_size         0
begin_month         0
dtype: int64

In [147]:
#'unknown'으로 결측치 채우기
data['occyp_type'].fillna("Unknown", inplace=True)

In [148]:
# 결측치 확인
data.isnull().sum()

index            0
gender           0
car              0
reality          0
child_num        0
income_total     0
income_type      0
edu_type         0
family_type      0
house_type       0
DAYS_BIRTH       0
DAYS_EMPLOYED    0
FLAG_MOBIL       0
work_phone       0
phone            0
email            0
occyp_type       0
family_size      0
begin_month      0
dtype: int64

In [149]:
test['occyp_type'].fillna("Unknown", inplace=True)

In [150]:
test.isnull().sum()

index            0
gender           0
car              0
reality          0
child_num        0
income_total     0
income_type      0
edu_type         0
family_type      0
house_type       0
DAYS_BIRTH       0
DAYS_EMPLOYED    0
FLAG_MOBIL       0
work_phone       0
phone            0
email            0
occyp_type       0
family_size      0
begin_month      0
dtype: int64

In [151]:
from sklearn.preprocessing import LabelEncoder

# 라벨 인코더 생성
label_encoder = LabelEncoder()

# 범주형 변수를 수치형으로 변환
data['gender'] = label_encoder.fit_transform(data['gender'])
data['car'] = label_encoder.fit_transform(data['car'])
data['reality'] = label_encoder.fit_transform(data['reality'])
data['income_type'] = label_encoder.fit_transform(data['income_type'])
data['edu_type'] = label_encoder.fit_transform(data['edu_type'])
data['family_type'] = label_encoder.fit_transform(data['family_type'])
data['house_type'] = label_encoder.fit_transform(data['house_type'])
data['occyp_type'] = label_encoder.fit_transform(data['occyp_type'])

In [152]:
from sklearn.preprocessing import LabelEncoder

# 라벨 인코더 생성
label_encoder = LabelEncoder()

# 범주형 변수를 수치형으로 변환
test['gender'] = label_encoder.fit_transform(test['gender'])
test['car'] = label_encoder.fit_transform(test['car'])
test['reality'] = label_encoder.fit_transform(test['reality'])
test['income_type'] = label_encoder.fit_transform(test['income_type'])
test['edu_type'] = label_encoder.fit_transform(test['edu_type'])
test['family_type'] = label_encoder.fit_transform(test['family_type'])
test['house_type'] = label_encoder.fit_transform(test['house_type'])
test['occyp_type'] = label_encoder.fit_transform(test['occyp_type'])

In [153]:
# 데이터 확인
print(data.head())

   index  gender  car  reality  child_num  income_total  income_type  \
0      0       0    1        1          0  202500.00000            1
1      1       0    0        0          1  157500.00000            4
2      2       1    1        0          0  135000.00000            4
3      3       0    1        0          2  112500.00000            4
4      4       1    1        1          1  225000.00000            4

   edu_type  family_type  house_type  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_MOBIL  \
0         4            1           1      -19031         365243           1
1         1            1           1      -15773           -309           1
2         4            1           1      -13483          -1816           1
3         4            1           1      -12270           -150           1
4         4            1           1      -16175          -2371           1

   work_phone  phone  email  occyp_type  family_size  begin_month
0           0      0      0          17            2          -53
1           0      1      0          14            3          -26
2           1      1      0           8            2           -9
3           0      1      0          16            4          -12
4           0      0      0           4            3           -3

In [154]:
print(test.head())

   index  gender  car  reality  child_num  income_total  income_type  \
0      0       1    0        1          0  211500.00000            4
1      1       0    0        1          0  157500.00000            1
2      2       0    0        1          0   45000.00000            0
3      3       1    0        1          2  270000.00000            4
4      4       0    0        1          0  202500.00000            4

   edu_type  family_type  house_type  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_MOBIL  \
0         4            3           1      -10072          -1101           1
1         4            4           1      -24340         365243           1
2         4            1           1      -15724          -1389           1
3         4            3           1      -11505          -4019           1
4         4            1           1      -15929          -2879           1

   work_phone  phone  email  occyp_type  family_size  begin_month
0           1      1      0           3            1          -10
1           0      1      0          17            1          -52
2           1      1      0          14            2          -15
3           0      0      0           8            3          -24
4           0      1      0           8            2          -54

In [155]:
from sklearn.preprocessing import StandardScaler

# StandardScaler 객체 생성
scaler = StandardScaler()

# 데이터를 스케일링
X_scaled = scaler.fit_transform(data)

In [156]:
from sklearn.model_selection import train_test_split
#print(data)

X_train = data.drop(['index'], axis=1)
y_train = data_label['credit']
X_test = test.drop(['index'], axis=1)
y_test = test_label['credit']

X_train_split, X_val, y_train_split, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
X_train_split, X_val, y_train_split, y_val

       index  gender  car  reality  child_num  income_total  income_type  \
0          0       0    1        1          0  202500.00000            1
1          1       0    0        0          1  157500.00000            4
2          2       1    1        0          0  135000.00000            4
3          3       0    1        0          2  112500.00000            4
4          4       1    1        1          1  225000.00000            4
...      ...     ...  ...      ...        ...           ...          ...
13223  13223       0    0        0          0  225000.00000            4
13224  13224       0    1        1          0  292500.00000            0
13225  13225       0    0        1          0  135000.00000            4
13226  13226       1    0        1          1  157500.00000            0
13227  13227       0    1        1          2   67500.00000            4

       edu_type  family_type  house_type  DAYS_BIRTH  DAYS_EMPLOYED  \
0             4            1           1      -19031         365243
1             1            1           1      -15773           -309
2             4            1           1      -13483          -1816
3             4            1           1      -12270           -150
4             4            1           1      -16175          -2371
...         ...          ...         ...         ...            ...
13223         4            4           1      -20657          -5637
13224         1            1           1      -18409          -3482
13225         4            0           1      -14625          -7827
13226         4            1           1      -10676          -2326
13227         1            1           1      -11925          -1621

       FLAG_MOBIL  work_phone  phone  email  occyp_type  family_size  \
0               1           0      0      0          17            2
1               1           0      1      0          14            3
2               1           1      1      0           8            2
3               1           0      1      0          16            4
4               1           0      0      0           4            3
...           ...         ...    ...    ...         ...          ...
13223           1           0      0      0           0            1
13224           1           0      0      0          14            2
13225           1           0      1      1          17            2
13226           1           0      1      1           8            3
13227           1           0      0      0          17            4

       begin_month
0              -53
1              -26
2               -9
3              -12
4               -3
...            ...
13223          -43
13224          -53
13225          -34
13226          -16
13227           -4

[13228 rows x 19 columns]

(       gender  car  reality  child_num  income_total  income_type  edu_type  \
 9877        0    1        1          0  126000.00000            0         4
 1937        0    1        1          0  360000.00000            4         1
 6664        0    0        1          0   90000.00000            4         4
 1031        1    1        1          2  225000.00000            0         4
 7541        0    0        0          2  112500.00000            4         4
 ...       ...  ...      ...        ...           ...          ...       ...
 11964       1    1        0          0  225000.00000            4         4
 5191        0    1        1          0   81000.00000            4         4
 5390        0    1        0          0  225000.00000            4         4
 860         0    1        0          1   90000.00000            2         4
 7270        0    0        1          0   67500.00000            1         1

        family_type  house_type  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_MOBIL  \
 9877             1           1      -10302           -734           1
 1937             1           1      -17763          -2493           1
 6664             2           1      -19973         -12917           1
 1031             0           1      -18376          -4270           1
 7541             1           1      -15766          -1086           1
 ...            ...         ...         ...            ...         ...
 11964            1           1      -19972          -6610           1
 5191             1           1      -13170           -763           1
 5390             1           1      -20641          -1064           1
 860              1           2      -13891          -7080           1
 7270             1           1      -22212         365243           1

        work_phone  phone  email  occyp_type  family_size  begin_month
 9877            0      0      0           3            2          -50
 1937            0      1      0          17            2          -57
 6664            0      0      0           0            1          -16
 1031            1      1      1          17            4          -17
 7541            0      0      0           8            4           -3
 ...           ...    ...    ...         ...          ...          ...
 11964           0      0      0           8            2          -35
 5191            1      0      0           3            2          -10
 5390            0      1      0          14            2          -21
 860             1      1      0          11            3          -38
 7270            0      0      0          17            2          -16

 [10582 rows x 18 columns],
        gender  car  reality  child_num  income_total  income_type  edu_type  \
 11176       0    0        1          0  130500.00000            1         4
 3060        0    1        0          1  184500.00000            4         1
 1923        0    0        0          1  162000.00000            4         4
 8875        1    0        0          3  180000.00000            4         4
 7626        0    0        1          0  405000.00000            4         1
 ...       ...  ...      ...        ...           ...          ...       ...
 7591        0    0        0          0  180000.00000            4         4
 3387        0    0        1          0  157500.00000            1         1
 3909        0    0        1          0   90000.00000            4         1
 1056        1    1        0          0  337500.00000            2         1
 1146        0    0        1          0  112500.00000            1         4

        family_type  house_type  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_MOBIL  \
 11176            1           1      -23476         365243           1
 3060             2           5      -13438          -4447           1
 1923             1           2      -15137          -2238           1
 8875             1           1      -14243          -3535           1
 7626             1           1      -17465          -7627           1
 ...            ...         ...         ...            ...         ...
 7591             1           1      -15280          -2475           1
 3387             1           1      -22414         365243           1
 3909             3           1      -15329          -1371           1
 1056             1           5      -10266          -1652           1
 1146             1           1      -21008         365243           1

        work_phone  phone  email  occyp_type  family_size  begin_month
 11176           0      0      0          17            2           -7
 3060            1      0      0           3            2          -23
 1923            1      1      0          14            3          -40
 8875            0      0      0           8            5          -52
 7626            0      0      0          17            2          -19
 ...           ...    ...    ...         ...          ...          ...
 7591            0      0      0          14            2          -46
 3387            0      1      0          17            2           -3
 3909            0      0      1           3            1          -36
 1056            1      1      0          10            2          -17
 1146            0      0      0          17            2          -16

 [2646 rows x 18 columns],
 9877     1
 1937     1
 6664     1
 1031     1
 7541     1
         ..
 11964    1
 5191     0
 5390     1
 860      1
 7270     0
 Name: credit, Length: 10582, dtype: int64,
 11176    1
 3060     0
 1923     1
 8875     1
 7626     0
         ..
 7591     1
 3387     0
 3909     0
 1056     1
 1146     1
 Name: credit, Length: 2646, dtype: int64)

In [157]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier
import lightgbm as lgb
import xgboost as xgb
from sklearn.metrics import f1_score

# 각 분류 모델 초기화
logistic_clf = LogisticRegression(random_state=42)
adaboost_clf = AdaBoostClassifier(n_estimators=50, random_state=42)
gradient_boost_clf = GradientBoostingClassifier(n_estimators=100, random_state=42)
random_forest_clf = RandomForestClassifier(n_estimators=100, random_state=42)
xgboost_clf = xgb.XGBClassifier(n_estimators=100, random_state=42)
lightgbm_clf = lgb.LGBMClassifier(n_estimators=100, random_state=42)

# 모델 리스트
models = [logistic_clf, adaboost_clf, gradient_boost_clf, random_forest_clf, xgboost_clf, lightgbm_clf]

# 각 모델을 훈련하고 예측 확률을 얻음
prob_predictions = []
for model in models:
    model.fit(X_train, y_train)
    probs = model.predict_proba(X_val)[:, 1]  # 클래스 1의 확률
    prob_predictions.append(probs)

# 예측 확률의 평균 계산
average_probs = np.mean(prob_predictions, axis=0)

# 임계값을 기준으로 0 또는 1로 변환
threshold = 0.5
y_pred_class = (average_probs > threshold).astype(int)


# F1 점수 계산
f1 = f1_score(y_val, y_pred_class)
print(f'F1 Score: {f1}')

[LightGBM] [Info] Number of positive: 11617, number of negative: 1611
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.002577 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 742
[LightGBM] [Info] Number of data points in the train set: 13228, number of used features: 17
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.878213 -> initscore=1.975614
[LightGBM] [Info] Start training from score 1.975614
F1 Score: 0.9391058061905725

In [170]:
# final DataFrame 초기화
final = pd.DataFrame()

# 각 모델의 예측 결과를 final DataFrame에 추가
for i, model in enumerate(models):
    # 1차원 배열로 변환하여 DataFrame에 추가
    final[f'model_{i+1}'] = model.predict(X_test).flatten()
final_predict = final.mean(axis=1)
final_result = (final_predict > threshold).astype(int)
# final DataFrame의 각 열에 대한 평균을 계산하여 최종 예측값 생성
test_label['credit'] = final_result

# test_label DataFrame에 index 열 추가
test_label['index'] = test['index']

# 예측 결과를 CSV 파일로 저장
test_label.to_csv('/content/drive/MyDrive/Colab Notebooks/test_label_1.csv', index=False)

In [166]:
print(test_label)

       index  credit
0          0 1.00000
1          1 1.00000
2          2 1.00000
3          3 1.00000
4          4 1.00000
...      ...     ...
13224  13224 1.00000
13225  13225 1.00000
13226  13226 1.00000
13227  13227 1.00000
13228  13228 1.00000

[13229 rows x 2 columns]